body {
    background-color: white;
color: black;
font-size: 21px;
}
a {
    color:darkgoldenrod;
}
a :hover{
    color: yellow;
}
a:visited{
color: aliceblue;
}
/*this is a css comment*/
.box1{
    padding: 50px;
    margin: 50px;
    background-image:url(../images/snk.jpg);
    background-size: contain;
    background-position: center;
}
.ejemplo1{
background-color: green;
color: red;
}
h1{
color: orange;
}
.Top-box{
    color: red;
    ;

}
.green-spams{
    color: purple;
    background: yellow;
}
.Bottom-box {
    background: red;
    color: aquamarine;
}

span{
    color: yellow;
    font-size: 40px;

}
.firstdiv{
    background-color: rgb(5, 108, 199);
    
}
.firstdiv p{
    color: white;
    padding: 50px;
}