body {
    background-color: white;
color: black;
font-size: 21px;
}

/*this is a css comment*/
.box1{
    background: pink;
    width: 300px;
    margin: 50px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}
h1{
color: orange;
}
.Top-box{
    color: red;
    background: rgb(88, 51, 126);

}
.green-spams{
    color: purple;
    background: yellow;
}
.Bottom-box {
    background: red;
    color: aquamarine;
}

span{
    color: yellow;
    font-size: 40px;

}